<header>

<div class="logo">🌵 Cactus Lite</div>

<nav>
<a routerLink="/home">Home</a>
<a routerLink="/booking">Foglalás</a>
<a routerLink="/login">Bejelentkezés</a>
<a routerLink="/register">Regisztráció</a>
</nav>

</header>

<section class="hero">

<h1>Cactus Lite Gastro Pub</h1>
<p>Éld át te is a Cactus feelinget</p>

<a routerLink="/booking">
<button>Asztalfoglalás</button>
</a>

</section>

<section class="about">

<h2>Rólunk</h2>

<p>
A Cactus Lite egy klasszikus hangulatú étterem ahol western ihletésű
ételek és italok várják vendégeinket.
Foglalj asztalt online gyorsan és egyszerűen.
</p>

</section>

<section class="connection">

<h3>Elérhetőségek</h3>
<p>info&#64;cactuslite.hu</p>
<p>06-1-222-3333</p>

</section>

<footer>

<p>© 2026 Cactus Lite Étterem</p>

</footer>